/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&display=swap');


/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    max-width: 100vw;
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: E5E5E5;
    overflow-x: hidden;
    letter-spacing: 0.15rem;
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above all other content */
    font-size: 24px;
    transition: transform 0.5s ease-in-out;
}

#progressBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #000;
    width: 0%;
}

.loader {
    width: fit-content;
    font-weight: bold;
    white-space: pre;
    font-size: 6.5em;
    overflow: hidden;
    color: #000;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

.loader::after {
    display: inline-block;
    animation: addDots 3s steps(4, end) infinite;
    content: '';
}

@keyframes addDots {
    25% {
    content: '.';
    }
    50% {
    content:'..';
    }
    75% {
    content: '...';
    }
    100% {
    content: '...';
    }
}


/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 950;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
    margin: 0;
    min-height: 15vh;
    max-height: 15vh;
    padding: 0 12%;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-in-out;
}

.logo img {
    width: 200px;
    height: auto;
    max-width: 200px;
    object-fit: contain;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    position: relative;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    transition: color 0.25s ease-in-out;
    padding: 0;
}

.nav-links .nav-contact {
    padding: 10px 15px;
    font-family: "DM Sans", sans-serif;
    color: #fff;
    background-color: #000;
    font-size: 14px;
}

.nav-links .nav-contact:hover {
    color: #333;
    background-color: transparent;
    border: 1.25px solid #000;
}

/* Hover Effect */
.nav-links a:hover {
    color: #bdbdbd;
}

.nav-links a.active {
    color: #bdbdbd;
    position: relative;
}

/* Dropdown Menu Styles */
.nav-links .dropdown {
    position: relative;
}

.nav-links .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    list-style: none;
    padding: 10px 0;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.nav-links .dropdown:hover .dropdown-menu {
    display: block;
}

.nav-links .dropdown-menu li {
    padding: 10px 20px;
}

.nav-links .dropdown-menu li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-links .dropdown-menu li a:hover {
    color: #bdbdbd;
}

/* Underline and Overline for Active Link */
.nav-links a.active::before,
.nav-links a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
    transition: opacity 0.3s ease-in-out;
}

.nav-links a.active::before {
    top: -3px; /* Overline */
}

.nav-links a.active::after {
    bottom: -3px; /* Underline */
}

/* Mobile Navbar */
.menu-toggle,
.mobile-menu {
    display: none;
    /* Hide by default */
}

@media (max-width: 1024px) {

    /* Show on tablet and mobile */
    .line {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .menu-toggle,
    .mobile-menu {
        display: block;
    }

    .menu-toggle {
        position: fixed;
        top: 10px;
        right: 30px;
        font-size: 25px;
        padding: 25px;
        color: #000;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1100;
    }
    .menu-toggle:hover {
        transform: scale(1.2);
        Transition: transform 0.3s ease-in-out;
    }
    #openIcon {
        color: #000;
    }
    #closeIcon {
        color: #ffffff;
        z-index: 1001;
    }
    .mobile-menu {
    position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100%;
        background: #2c2c2c;
        transition: right 0.5s ease;
        z-index: 1000;
        padding: 50px;
        box-sizing: border-box;
    }
    .menu-header p, .menu-footer p {
        margin: 0;
        font-size: 16px;
        font-family: "DM Sans", sans-serif;
        letter-spacing: 2px;
        color: #fff;
        text-transform: uppercase;
    }
    .menu-footer {
        margin: 5% 5%;
    }
    .menu-links {
    list-style: none;
        padding: 0;
        margin: 20px 0;
    }
    .menu-links li {
        margin: 20px 0;
        font-size: 32px;
        font-family: "DM Sans", sans-serif;
        font-weight: 200;
        text-transform: uppercase;
    }
        .menu-links li.active::before {
            content: '• ';
            color: #fff;
        }
    
        .social-links {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            font-family: "DM Sans", sans-serif;
            font-weight: 200;
            text-transform: uppercase;
        }
    
        a {
            color: #fff;
            text-decoration: none;
            transition: color 0.2s;
        }
    
        a:hover {
            color: #bdbdbd;
        }
    
        hr {
            border: none;
            height: 1px;
            background: #fff;
            margin: 10px 0;
        }
    
        .menu-logo {
            display: block;
            justify-content: center;
            width: 100%;
            height: auto;
        }
    
        .logo img {
            width: 200px;
            height: auto;
            max-width: 200px;
            object-fit: contain;
        }

/* Mobile Dropdown Styles */
.mobile-menu .dropdown-menu {
    display: none;
    flex-direction: column;
    list-style: none;
    padding-left: 25px;
}

.mobile-menu .dropdown.open .dropdown-menu {
    display: flex;
}

.mobile-menu .dropdown-toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    cursor: pointer;
}
}
    
        .hidden {
            display: none !important;
        }

        @media only screen and (max-width: 480px) {
            body {
                font-size: 14px;
                overflow-x: hidden;
            }
            .header {
                max-width: 100vw;
                
            }
            .navbar {
                padding: 0% 5%;
            }
            .menu-toggle {
                top: 10px;
                right: 25px;
                font-size: 22px;
                padding: 15px;
            }
            
        }


/* Hero Section */
#hero {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 0 4%;
    margin-top: 15vh;
    max-width: 100vw;
    height: 85vh;
    max-height: 85vh;
}

.hero-content {
    max-width: 40%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
    padding-top: 7%;
}

.hero-content h1 {
    font-size: 4.25rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    line-height: auto;
    color: #bdbdbd;
    text-transform: uppercase;
}

.hero-content h2 {
    font-size: 4.25rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #333;
    line-height: auto;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.title {
    font-family: "DM Sans", sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.1;
    margin-top: 25px;
}

.text-updates {
    margin-top: 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.1;
    transition: opacity 0.5s ease-in-out;
    background-clip: text;
-webkit-background-clip: text;
    animation-name: text-change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    justify-content: flex-start;
    margin-top: 2.5rem;
}

.hero-btn {
    display: block;
    float: center;
    background-color: none;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.hero-btn a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 1.25px solid #000;
    font-family: "DM Sans", sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.25s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.hero-btn a:hover {
    background-color: #000;
    border: 1.25px solid #fff;
    color: #fff;
}

.hero-carousel {
    position: relative;
    justify-content: center;
    max-width: 50%;
    height: 90%;
    max-height: 90%;
    margin-top: 5%;
    overflow: hidden;
}

/* Inner Container that Slides */
.hero-carousel-inner {
    display: block;
    width: 100%;
    height: 100%;
}

/* Each Image Takes Full Size */
.hero-carousel-item {
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    object-fit: cover center !important;
    display: block;
    transition: transform 0.5s ease-in-out;

}

.social-stack,
.scroll-down {
    position: absolute;
    bottom: 0;
    min-height: 80vh;
    max-height: 85vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: color 0.3s ease-in-out;
    color: #333;
}

.social-stack {
    left: 0;
    margin-left: 4%;
}
.scroll-down {
    right: 0;
    transform: translateX(0);
}

.social-stack a {
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    line-height: 1.5;
    color: #333;
    transition: color 0.2s ease-in-out;
    position: relative;
    z-index: 1;
}

.social-stack a:hover {
    color: #bdbdbd;
}
.vertical-line1,
.vertical-line2 {
    width: 0.25px;
    height: 60vh;
    color: #333;
    background-color: #bdbdbd;
    z-index: -1;
    margin-bottom: 15px;
    opacity: 0.5;
}

.scroll-down a {
    text-decoration: none;
}

.scroll-down a p{
    margin-top: 40px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #333;
    transform: rotate(90deg);
    transition: color 0.2s ease-in-out;
}

.scroll-down a p:hover {
    color: #bdbdbd;
}


@media only screen and (max-width: 1024px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 25% 0;
    }
    .hero-content {
        max-width: 100%;
        height: 30vw;
        text-align: center;
        margin: 5% 0;
    }

    .hero-carousel {
        display: none;
    }
    .hero-content h1 {
        font-size: 72px;
        line-height: 72px;
    }
    .hero-content h2 {
        font-size: 72px;
        line-height: 72px;
    }
    .text-updates {
        font-size: 32px;
    }
    .hero-navigation {
        display: none;
    }
    .carousel-pagination {
        display: none;
    }
    .hero-buttons {
        justify-content: center;
    }
}


#about {
    min-height: 100vh;
    max-width: 100vw;
    padding: 30px;
    margin: 0 5%;
}

.about-container {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    margin-top: 12%;
    width: 100%;
    min-height: 425px;
    max-height: 50vh;
}


.about-left {
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-left img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: fill;
}

.about-right {
    width: 50%;
    margin: 5% 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.about-title {
    font-size: 2.625rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #bdbdbd;
}

.about-text {
    font-size: 1.25rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    line-height: 22px;
    color: #000000;
    letter-spacing: 0.15rem;
}

.about-btn {
    display: block;
    align-self: flex-start;
    background-color: none;
    text-decoration: none;
    background-color: transparent;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.about-btn a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 1.25px solid #000;
    font-family: "DM Sans", sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.25s ease-in-out;
}

.about-btn a:hover {
    background-color: #000;
    border: 1.25px solid #fff;
    color: #fff;
}

.about-header {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    margin-top: 15px;
}

.header-card {
    background-color: #EDEDED;
    width: 720px;
    max-width: 720px;
    padding: 15px 5%;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    margin-top: 10px;
}

.about-subtitle1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #bdbdbd;
    margin-top: 60px;
    margin-left: 5%;
}

.about-subtitle2 {
    font-size: 2.625rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    letter-spacing: 0.15rem;
    color: #000000;
    margin-top: 5px;
}

.statement {
    margin-top: 25px;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    max-width: 720px;
}

.vals {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5%;
    justify-content: space-evenly;
    margin: 0 5%;
    margin-top: 5%;
}

.val {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 30px;
}

.val-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.val-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.val-number {
    font-size: 2.625rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #bdbdbd;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.val-title {
    font-size: 2.625rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    color: #000000;
    margin: 0;
}

.val-description {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color: #000000;
    max-width: 100%;
    margin: 15px 0;
}
.val-description2{
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color: #000000;
    max-width: 100%;
}

.val .about-card {
    width: 400px;
    height: 100%;
    max-height: 350px;
    overflow: hidden;
    position: relative;
}

.val .about-img {
    width: 100%;
    height: auto;
    object-fit: cover center !important;
    display: block;
}

.val .about-img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}


@media only screen and (max-width: 1024px) {
    #about {
        margin: 5% 0;
    }
    .about-container {
        margin: 5% 0;
    }
}



.services-header {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 60px 0 0 0;
    padding: 0;
}

.services-header .header-card {
    background-color: #EDEDED;
    width: 720px;
    max-width: 720px;
    padding: 15px 5%;
    box-sizing: border-box;
    margin-top: 0;
    z-index: 0;
    position: relative;
}

.services-title1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #bdbdbd;
    margin-top: 60px;
    margin-left: 5%;
}

.services-title2 {
    font-size: 2.625rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #000;
}

.services-subtitle {
    margin-top: 25px;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color: #000;
    max-width: 720px;
    line-height: 1.1;
}

#services a {
    display: inline-block;
    text-decoration: none;
}

#services .container {
    margin: 5% 5%;
    display: flex;
    flex-direction: row;
    gap: 45px;
}

#services .container .card .content {
    padding: 0.938rem 0.625rem;
}

#services .container .card .content h3 {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    color: #000;

}

#services .container .card .content p {
    margin: 0.625rem 0 1.25rem;
    color: #000;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.1;
}

#services .container .card-inner {
    position: relative;
    width: inherit;
    height: 18.75rem;
    border-bottom-right-radius: 0;
    overflow: hidden;
}

#services .container .card-inner .box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #bdbdbd;
}

#services .container .card-inner .box .imgBox {
    position: absolute;
    inset: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

#services .container .card-inner .box .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover center !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.service-description {
    margin: 40px 10%;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #000;
    line-height: 1.1;
}

.service-btn {
    display: block;
    float: center;
    background-color: none;
    text-decoration: none;
    background-color: transparent;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.service-btn a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 1.25px solid #000;
    font-family: "DM Sans", sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.25s ease-in-out;
}

.service-btn a:hover {
    background-color: #000;
    border: 1.25px solid #fff;
    color: #fff;
}

/*Services Carousel Styles*/
.carousel-container {
    width: 100vw;
    margin: 5% 0;
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000;
}

.carousel {
    display: flex;
    white-space: nowrap;
    animation: scroll linear infinite 12s;
    animation-play-state: paused;
}

.services-carousel-inner {
    display: flex;
    align-items: center;
}

.services-carousel-item,
.bullet {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.services-carousel-item {
    padding: 10px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: calc(clamp(6em, 10vw, 11em)* .875);
    letter-spacing: 0.15rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.bullet i {
    font-size: calc(clamp(6em, 10vw, 11em)* .875);
    color: #000;
    margin: 0 50px;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 1024px) {

    #services .container {
        margin: 5% 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #services .container .card {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        gap: 10px;
    }

    .carousel {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

    @media only screen and (max-width: 480px) {
        #services {
            padding: 20px;
            min-height: 100vh;
            min-width: 100vw;
            margin: 5% 0;
        }
    
        .services-header {
            margin: 5% 0;
        }
    
        .services-title {
            font-size: 48px;
            line-height: 48px;
        }
    
        .services-subtitle {
            font-size: 18px;
            line-height: 28px;
        }
    
        #services .container {
            margin: 5% 0;
            grid-template-columns: 1fr;
            gap: 15px;
        }
    
        #services .container .card .content h3 {
            font-size: 24px;
            line-height: 24px;
        }
    
        #services .container .card .content p {
            font-size: 14px;
            line-height: 22px;
        }
    
        #services .container .card-inner {
            height: 15rem;
        }
    }
    


/* Portfolio Section Styles*/
#portfolio {
    min-height: 100vh;
}

.portfolio-header {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 60px 0 0 0;
    padding: 0;
}

.portfolio-header .header-card {
    background-color: #EDEDED;
    width: 720px;
    max-width: 720px;
    padding: 15px 5%;
    box-sizing: border-box;
    margin-top: 0;
    z-index: 0;
    position: relative;
}

.portfolio-title1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #bdbdbd;
    margin-top: 60px;
    margin-left: 5%;
}

.portfolio-title2 {
    font-size: 2.625rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #000;
}

.portfolio-subtitle {
    margin-top: 25px;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color: #000000;
    max-width: 720px;
}

.bento-section {
    margin: 0 5%;
    padding: 30px;
}

/* Portfolio Grid */
.bento-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin-top: 5%;
    padding: 14px;
    border-radius: 16px;
    gap: 12px;
}

.grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover center !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.grid-item:hover {
    cursor: pointer;
}

/* Image Positioning */
.img1 {
    grid-column: span 1;
    grid-row: span 1;
}

.img2 {
    grid-column: span 2;
    grid-row: span 1;
}

.img3 {
    grid-column: span 1;
    grid-row: span 2;
}

.img4 {
    grid-column: span 2;
    grid-row: span 1;
}

.img5 {
    grid-column: span 1;
    grid-row: span 1;
}

.projects-btn {
    display: block;
    float: right;
    background-color: none;
    text-decoration: none;
    background-color: transparent;
    border: none;
    margin: 0 5%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.projects-btn a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 1.25px solid #000;
    font-family: "DM Sans", sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.25s ease-in-out;
}

.projects-btn a:hover {
    background-color: #000;
    color: #fff;
}




/* Testimonials Section Styles */


.testimonials-header {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 5% 0 0 0;
    padding: 0;
}

.testimonials-title1 {
    font-weight: 500;
    color: #bdbdbd;
    margin-top: 60px;
    margin-left: 5%;
}

.testimonials-title2 {
    font-size: 2.625rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #000;
}

.testimonials-subtitle {
    margin-top: 25px;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color: #000000;
    max-width: 720px;
}

.testimonial-container {
    margin-top: 5%;
    min-width: 100vw;
    height: auto;
    max-height: 500px;
    background-image: url('/img/global1.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.testimonial-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(30%) brightness(0.97);
    z-index: -1;
}

sl-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    height: auto;
    max-height: 500px;
    padding: 20px;
    z-index: 1;
}


sl-carousel .card-footer {
    width: 100%;
    height: 75%;
    margin: 5% 5%;
    max-height: 80%;
    color: black;
    padding: 20px;
}

sl-avatar {
    margin-top: 15px;
    margin-left: 30px;
}

.card-footer .details {
    float: right;
    margin-top: 15px;
    font-size: 18px;
    margin-right: 60%;
}

.carousel-pagination {
    margin-bottom: 30px;
}

/* FAQs */
#faq {
    margin: 0 5%;
    margin-top: 60px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.faq-header {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 60px 0 60px 0;
    padding: 0;
}

.faq-title1 {
    font-weight: 500;
    color: #bdbdbd;
    margin-top: 60px;
    margin-left: 5%;
}

.faq-title2 {
    font-size: 2.625rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #000;
}

.faq .faq-description {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color: #000;
    margin-top: 25px;
    margin-bottom: 5%;
    max-width: 720px;
}

.details-group-example sl-details:not(:last-of-type) {
    margin-bottom: var(--sl-spacing-2x-small);
}

sl-details {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color: #000;
    margin-bottom: 5%;
}

sl-details p {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color: #000000;
    margin: 0 50px;
}

/* Contact Section Styles */
#contact {
    min-height: 50vh;
    max-width: 100vw;
    padding: 30px;
    overflow-x: hidden;
}

.contact-header {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 80px 0 60px 0;
    padding: 0;
}

.contact-title1 {
    font-weight: 500;
    color: #bdbdbd;
    margin-top: 60px;
    margin-left: 5%;
}

.contact-title2 {
    font-size: 2.625rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #000;
}

.contact-subtitle {
    margin-top: 25px;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color: #000;
    max-width: 720px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 50vh;
    background: transparent;
    padding: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Left Side - Contact Info */
.contact-info {
    width: 33.3%;
    padding-right: 30px;
    border-right: 1.5px solid #bdbdbd;
    letter-spacing: 0.15rem;
    margin-left: 10px;
}

.contact-info h3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    line-height: 36px;
    color: #bdbdbd;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.contact-info p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 25px;
    color: #000;
}

.contact-info a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin-bottom: 15px;
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 30px;
    font-size: 24px;
    color: #000;
    transition: color 0.25s ease-in-out;
}

.social-icons a:hover {
    color: #bdbdbd;
}

/* Right Side - Form */
.contact-form {
    width: 66.6%;
    padding-left: 30px;

}

.contact-form h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    line-height: 36px;
    color: #bdbdbd;
    margin-bottom: 10px;
    letter-spacing: 0.15rem;
}

.contact-form p {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    color: #000;
}

.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.form-group input {
    width: 50%;
    padding: 10px;
    border: 1px solid #000;
    font-size: 14px;
    background-color: transparent;
    color: #000;
}

select,
textarea {
    background-color: transparent;
    color: #000;
}

.contact-form option {
    color: #000;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    color: #000;
}

select,
textarea,
.contact-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    font-size: 14px;
}

textarea {
    resize: none;
}

.contact-form button {
    color: #000;
    background: transparent;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    margin-top: 15px;
    cursor: pointer;
    border: 1px solid #000;
    padding: 12px 20px;
    transition: color 0.25s ease-in-out;
    max-width: 25%;
    float: right;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.contact-form button:hover {
    background: black;
    color: #fff;
    border: 1px solid #000;
}



/* Footer Styles */
footer {
    background-color: #2c2c2c;
    color: white;
    padding: 20px 0;
    font-family: "DM Sans", sans-serif;
    border-top: 1px solid #3a3a3a;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    margin: 0 5%;
    padding: 0 10px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    text-align: center;
    margin: 0 15px;
    margin-top: 25px;
}

.footer .logo-section {
    text-align: center;
}

.footer .logo {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto 5px;
}

.footer h4 {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    font-family: "DM Sans", sans-serif;
    margin: 12px 0;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 16px;
    letter-spacing: 0.15rem;
}

.footer ul li a:hover {
    color: #ccc;
}

.footer p {
    font-family: "DM Sans", sans-serif;
    margin: 5px 0;
}

#footer-contact p {
    font-family: "DM Sans", sans-serif;
    margin-top: 10%;
}

.footer .social-icons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    margin: 8px 0;
}

.footer .social-icons a {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
    margin: 5px 0;
}

.footer .social-icons a:hover {
    color: #ccc;
}

.footer .footer-bottom {
    text-align: center;
    padding: 15px 0;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 14px;
    border-top: 1px solid #3a3a3a;
}



/* Rise Animations */
[data-rise="true"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
/* Activated on page load */
[data-rise="true"].visible {
    opacity: 1;
    transform: translateY(0);
}

/* Scroll to top styles */
#scrollToTop {
    position: fixed; /* Keeps it in the bottom-right */
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0 !important; /* Initially hidden */
    visibility: hidden !important;
    pointer-events: none;
}

#scrollToTop i {
    text-shadow:rgba(0, 0, 0, 0.5);
}

/* Show when scrolling down */
#scrollToTop.show {
    display: block;
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto;
}

/* Hover Effect */
#scrollToTop i:hover {
    cursor: pointer;
    background-color: grey;
}



/* Media Queries - Tablet */

@media (max-width: 1024px) {

    /* Hero */
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        margin-top: 20%;
    }
    .hero-content {
        max-width: 100%;
        height: 30vw;
        text-align: center;
        margin: 5% 0;
    }

    .hero-content h1,
    .hero-content h2 {
        font-size: 64px;
        line-height: 64px;
    }

    .hero-carousel {
        margin: 0 10%;
        margin-top: 10%;
        height: 20vh;
        max-height: 20vh;
    }

    /* About */
    .about-subtitle {
        margin: 5% 5%;
    }
    #about .statement {
        margin: 0 5%;
    }

    /* Services */


    /* Portfolio */
    .bento-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }
    
    .grid-item {
        height: auto;

    /* Testimonials */


    /* FAQs */

    /* Contact */
    .contact-container {
        flex-direction: column;
    }
    .contact-info, .contact-form {
        width: 100%;
        border: none;
        padding: 0;
    }
    .contact-title {
        margin-top: 20%;
    }
    .contact-info {
        border-bottom: 1px solid #bdbdbd;
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 0;
    }
    .contact-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;
    }
    .contact-item .social-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    .contact-form {
        margin-top: 20px;
    }
    .contact-form h2 {
        margin-top: 5%;
        font-size: 32px;
        text-align: center;
    }
/* Footer */

}






/* Media Queries - Mobile */

@media (max-width: 480px) {
    /* Header */
    .header {
        max-width: 100vw;
        
    }
    .navbar {
        padding: 0% 5%;
    }
    .menu-toggle {
        top: 5px;
        right: 15px;
        font-size: 22px;
        padding: 15px;
    }


    /* Hero */
    

    /* About */


    /* Services */


    /* Portfolio */
    .portfolio-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .grid-item {
        height: auto;
    }


    /* Testimonials */


    /* FAQs */

    /* Contact */


    /* Footer */
    .footer-container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        }
        .footer-section {
            margin-bottom: 20px;
        }
        .footer-section h4 {
            margin-top: 20px;
            font-size: 22px;
        }
}
}