/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300&display=swap');


/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0f0e0f;
    overflow-x: hidden;
    letter-spacing: 0.15rem;
}

/*--- No Scroll when mobile menu is open ---*/
.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    background: white;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    opacity: 0;
    transform: translate(-9999px, -9999px);
    /* hide off-screen initially */
    transition: opacity 0.3s ease-in-out, transform 0.15s ease-out;
    /*mix-blend-mode: difference;*/
    display: flex;
    /* always present, hidden with opacity */
}

.custom-cursor.show-cursor {
    display: flex;
    opacity: 1;
}



/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 4%;
    height: auto;
    max-height: 100px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 950;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0f0e0f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-in-out;
}

.nav-left,
.nav-center,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left {
    flex: 1;
    justify-content: flex-start;
}

.nav-center {
    flex: 1;
    justify-content: center;
}

.nav-right {
    flex: 1;
    justify-content: flex-end;
    gap: 2.5rem;
}

.logo img {
    width: 225px;
    height: auto;
    object-fit: contain;
}

.nav-links {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Geist", sans-serif;
    font-weight: 700;
    transition: color 0.25s ease-in-out;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-email {
    color: #fff;
    font-size: 12px;
    font-family: "Geist", sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

.nav-email:hover {
    color: #bdbdbd;
}

.nav-contact {
    padding: 10px 15px;
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;
    font-family: "Geist", sans-serif;
    font-weight: 600;
    border-radius: 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
}

.nav-contact:hover {
    background-color: transparent;
    border: 1.25px solid #fff;
    color: #fff;
}


/* Dropdown Menu Styles */
.nav-links .dropdown {
    position: relative;
}

.nav-links .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    list-style: none;
    padding: 10px 0;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.nav-links .dropdown:hover .dropdown-menu {
    display: block;
}

.nav-links .dropdown-menu li {
    padding: 0 10px;
    padding-top: 10px;
}

.nav-links .dropdown-menu li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0;
}

.nav-links .dropdown-menu li a:hover {
    color: #999;
}

/* Underline and Overline for Active Link */
.nav-links a.active::before,
.nav-links a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
    transition: opacity 0.3s ease-in-out;
}

.nav-links a.active::before {
    top: -3px; /* Overline */
}

.nav-links a.active::after {
    bottom: -3px; /* Underline */
}

/* Mobile Navbar */
.menu-toggle,
.mobile-menu {
    display: none;
    /* Hide by default */
}

@media (max-width: 1024px) {

    /* Show on tablet and mobile */
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100vw;
        max-height: 10vh;
        background-color: #0f0e0f;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.25s ease-in-out;
    }
    
    .nav-contact, .nav-email {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .menu-toggle,
    .mobile-menu {
        display: block;
    }

    .menu-toggle {
        position: absolute;
        right: 5rem;
        top: 3.2rem;
        z-index: 100;
        width: 48px;
        display: block;
        cursor: pointer;
        z-index: 1100;
    }

    .menu-toggle span {
        display: block;
        height: 1px;
        background-color: #ffffff;
        cursor: pointer;
        margin-top: 8px;
    }

    .menu-toggle:hover {
        Transition: transform 0.3s ease-in-out;
    }
    #openIcon {
        color: #fff;
    }
    #closeIcon {
        color: #ffffff;
        z-index: 1001;
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100%;
        background: #0f0e0f;
        transition: right 0.5s ease;
        z-index: 1000;
        padding: 50px;
        box-sizing: border-box;
    }
    .menu-header {
        margin-top: 45px;
    }

    .menu-header p, .menu-footer p {
        margin: 0;
        margin: 5% 0;
        font-size: 16px;
        font-family: "Geist", sans-serif;
        letter-spacing: 2px;
        color: #a6a6a6;
        text-transform: uppercase;
    }
    .menu-links {
        list-style: none;
        padding: 0;
        margin: 20px 5%;
    }
    .menu-links li {
        margin: 20px 0;
        font-size: 28px;
        font-family: "Geist", sans-serif;
        font-weight: 200;
        text-transform: uppercase;
    }
        .menu-links li.active::before {
            content: '• ';
            color: #fff;
        }
    
        .social-links {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            font-family: "Geist", sans-serif;
            font-weight: 200;
            text-transform: uppercase;
        }

        .social-links span {
            color: #fff;
            padding: 0 5px;
        }
    
        a {
            color: #fff;
            text-decoration: none;
            transition: color 0.2s;
        }
    
        a:hover {
            color: #bdbdbd;
        }
    
        hr {
            border: none;
            height: 1px;
            background: #fff;
            margin: 10px 0;
        }
    
        .menu-logo {
            display: block;
            width: 100%;
            max-width: 500px;
            height: auto;
            max-height: 500px;
            float: left;
        }
        .menu-logo img {
            width: 700px;
            height: auto;
        }
    
        .logo img {
            width: 300px;
            height: auto;
            object-fit: cover center !important;
        }

/* Mobile Dropdown Styles */
.mobile-menu .dropdown-menu {
    display: none;
    flex-direction: column;
    list-style: none;
    padding-left: 25px;
    gap: 10px;

}

.mobile-menu .dropdown.open .dropdown-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 40px;
    padding-top: 10px;
    transition: all 0.3s ease-in-out;
}

.mobile-menu .dropdown.open .dropdown-menu li {
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

.mobile-menu .dropdown-toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    cursor: pointer;
}
}

.hidden {
    display: none !important;
}
    
        @media only screen and (max-width: 480px) {
            body {
                overflow-x: hidden;
            }
    
            .header {
                max-width: 100vw;
            }
    
            .navbar {
                padding: 0% 16px;
                height: 80px;
            }
    
            .menu-toggle {
                top: 15px;
                right: 16px;
                font-size: 24px;
                padding: 10px;
            }
            .mobile-menu {
                width: 100%;
            }
            .menu-logo {
                display: block;
                max-width: 350px;
                height: auto;
                max-height: 350px;
                float: left;
            }
            .menu-logo img {
                width: 350px;
                height: auto;
                object-fit: cover center !important;
            }
            .logo {
                margin-left: 5%;
            }
            .logo img {
                width: 225px;
            }

        }


/* Hero Section */
#hero {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
}

.hero-content {
    padding: 0;
    width: 100vw;
    height: auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;

}

.hero-content h1 {
    font-size: clamp(3rem, 9vw, 14rem);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    color: #464646;
    text-transform: uppercase;
    line-height: 1;
}

.hero-content h2 {
    font-size: clamp(3rem, 9vw, 14rem);
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    margin-top: -1.5rem;
}

.hero-content h2 bold {
    color: #ff0000;
}

.hero-video-wrapper {
    position: relative;
    width: 100%;
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-self: center;
    overflow: hidden;
    margin-top: -5%;
    border: 0.5px solid #999;
    z-index: 1;
}

.hero-video {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.hero-video-wrapper:hover {
    cursor: pointer;
}

.hero-video-wrapper:hover .video-overlay {
    opacity: 1;
}


/* About Sections */
#about {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0 5%;
}

.about-container {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    min-height: 425px;
    max-height: 50vh;
    background-color: transparent;
}

.about-right {
    width: 75%;
    max-width: 1600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
}

.about-text {
    font-family: "inter", sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 1.5rem;
}

.about-text strong {
    font-weight: 600;
    color: #ff0000;
}

.about-btn {
    display: block;
    align-self: flex-start;
    background-color: none;
    text-decoration: none;
    background-color: #ff0000;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.about-btn a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 1.25px solid #000;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.about-btn a:hover {
    background-color: #000;
    border: 1.25px solid #fff;
    color: #fff;
}

.scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 100px;
}

.scroll {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 30%, #fff 70%, transparent);
}

.scroll div {
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t)/-1);
}

.scroll div:nth-child(2) {
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t)/-2);
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

.scroll div span {
    display: inline-flex;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 24px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s;
}

.scroll-icons {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 30%, #fff 70%, transparent);
}

.scroll-icons div {
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-direction: reverse;
    animation-delay: calc(var(--t)/-1);
}

.scroll-icons div:nth-child(2) {
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t)/-2);
    animation-direction: reverse;
}

.scroll-icons div span {
    display: inline-flex;
    margin: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    transition: 0.5s;
}

.scroll-icons div span svg {
    font-size: 3.5rem;
}

.scroll div span:hover {
    background: #ff0000;
    cursor: pointer;
}
.about-header {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    padding-top: 30px;
    margin-top: 60px;
}

.about-header .header-card {
    background-color: transparent;
    width: 720px;
    max-width: 1200px;
    padding: 20px 0;
    padding-left: 6%;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    margin-top: 100px;
}

.about-subtitle1 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 8rem;
    font-weight: 800;
    color: #343434;
    margin-top: 30px;
    margin-left: 2.5%;
    text-transform: uppercase;
    z-index: 0;
    font-optical-sizing: auto;
}

.about-subtitle1 strong {
    color: #ff0000;
    font-weight: 500;
}

.about-subtitle2 {
    font-size: 2.625rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    letter-spacing: 0.15rem;
    color: #fff;
    margin-top: 5px;
}

.statement {
    margin-top: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #a6a6a6;
}

.vals {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    justify-content: space-evenly;
    margin: 0 5%;
    margin-top: 10%;
}

.val {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #111111;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 30px;
    overflow: hidden;
}

.val-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 15px;
}

.val-header {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 15px;
    margin-bottom: 10px;
}

.val-number {
    position: absolute;
    left: 0;
    transform: translateX(-90px);
    font-size: 11rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    color: #232323;
    z-index: 1;
}

.val-title {
    font-size: 2.625rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 200;
    color: #fff;
    margin: 0;
    z-index: 2;
}

.val-description {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #a6a6a6;
    max-width: 100%;
    margin: 15px 0;
    z-index: 2;
}
.val-description2{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #a6a6a6;
    max-width: 100%;
    z-index: 2;
}

.val .about-card {
    width: 400px;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    position: relative;
}

.val .about-img {
    width: 100%;
    height: auto;
    object-fit: cover center !important;
    display: none;
}

.val .about-img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}


@media only screen and (max-width: 1024px) {
    #about {
        margin: 5% 0;
    }
    .about-container {
        margin: 5% 0;
    }
}

#services-section {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
}

.services-header {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 120px 0 0 0;
    padding-top: 30px;
}

.services-header .header-card {
    background-color: transparent;
    width: 720px;
    max-width: 720px;
    padding: 20px 0;
    padding-left: 6%;
    box-sizing: border-box;
    margin-top: 100px;
    z-index: 0;
    position: relative;
}

.services-header.managed {
    position: relative;
    right: 50%;
    transform: translateX(-50%);
    display: flex;
    position: relative;
    width: 100vw;
    padding-top: 0;
    justify-content: flex-end;
}

.services-header.managed .header-card {
    margin-top: 0;
    padding: 20px 0;
    padding-right: 6%;
}

.service-container.managed {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    padding: 0 10%;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 120px;
    margin-bottom: 120px;
}


.services-title1 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 8rem;
    font-weight: 800;
    color: #343434;
    margin-top: 30px;
    margin-left: 2.5%;
    text-transform: uppercase;
    z-index: 0;
    font-optical-sizing: auto;
}

.services-title1 strong {
    color: #ff0000;
    font-weight: 500;
}

.services-title2 {
    font-size: 2.625rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #fff;
    margin-top: 5px;
    margin-left: 0;
}

.services-title2 sl-icon {
    margin-left: 10px;
    color: #fff;
}

.services-subtitle {
    margin-top: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #a6a6a6;
    max-width: 720px;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    padding: 0 10%;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 120px;
}

.service {
    flex: 1 1 calc(50% - 2rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 350px;
}

.service-number {
    font-size: 3rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    color: #232323;
}

.service-number strong {
    color: #ff0000;
    font-weight: 500;
}

.service-title {
    font-size: 1.25rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

.service-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.service-items li {
    color: #a6a6a6;
    font-size: 0.95rem;
    font-family: "Inter", sans-serif;
    margin-bottom: 0.25rem;
}

.service-link {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #fff;
    border-bottom: 2px solid #a6a6a6;
    width: fit-content;
    transition: all 0.2s ease;
}

.service-link:hover {
    opacity: 0.8;
    border-color: #222;
}




/* Portfolio Section Styles*/




#portfolio {
    height: auto;
    width: 100%;
    min-height: 100vh;
    margin: 5% 0;
}

.portfolio-header {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 120px 0;
    padding-top: 30px;
}

.portfolio-header .header-card {
    background-color: transparent;
    width: 720px;
    max-width: 720px;
    padding: 20px 0;
    padding-left: 6%;
    box-sizing: border-box;
    margin-top: 0;
    z-index: 0;
    position: relative;
    margin-top: 100px;
}

.portfolio-title1 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 8rem;
    font-weight: 800;
    color: #343434;
    margin-top: 30px;
    margin-left: 2.5%;
    text-transform: uppercase;
    z-index: 0;
    font-optical-sizing: auto;
}

.portfolio-title1 strong {
    color: #ff0000;
    font-weight: 500;
}

.portfolio-title2 {
    font-size: 2.625rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #fff;
}

.portfolio-title2 sl-icon {
    margin-left: 10px;
    color: #fff;
}

.portfolio-subtitle {
    margin-top: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #a6a6a6;
    max-width: 720px;
}

.staggered-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10%;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px 0;
}

.grid-item {
  width: 100%;
  max-width: 700px;
  border-radius: 8px;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover center !important;
  border-radius: 8px;
}

.grid-item:hover img {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

.grid-item .caption {
    margin-top: 15px;
    padding: 10px;

}

.caption h3 {
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
}

.caption p {
  margin: 10px 0;
  color: #a6a6a6;
}

.grid-item.right {
  margin-top: 200px;
}

.pill-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
}

.pill-container p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #a6a6a6;
    margin-right: 10px;
}




@media (max-width: 1024px) {
  .staggered-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 10%;
  }

  .grid-item {
    margin-bottom: 60px;
    max-width: 100%;
    margin: 30px auto;
  }

  .grid-item.right {
    margin-top: 30px;
  }
}

/* Responsive stack on mobile */
@media (max-width: 768px) {
  .staggered-grid {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .grid-item {
    margin-bottom: 60px;
  }

  .grid-item.right {
    margin-top: 0;
  }
  .projects-btn {
    margin: 0 5%;
  }
  .pill-container {
    flex-wrap: wrap;
    gap: 5px;
  }
}




.projects-btn {
    display: block;
    float: right;
    background-color: none;
    text-decoration: none;
    background-color: #ff0000;
    border: none;
    margin: 30px 5%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.projects-btn a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 1.25px solid #000;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.projects-btn a:hover {
    background-color: #000;
    color: #fff;
    border: 1.25px solid #fff;
}




/* Testimonials Section Styles */


.testimonials-header {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 120px 0 0 0;
    padding-top: 60px;
}

.testimonials .header-card {
    background-color: transparent;
    width: 720px;
    max-width: 720px;
    padding: 20px 0;
    padding-left: 6%;
    box-sizing: border-box;
    margin-top: 0;
    z-index: 0;
    position: relative;
    margin-top: 70px;
}

.testimonials-title1 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 8rem;
    font-weight: 800;
    color: #343434;
    margin-top: 30px;
    margin-left: 2.5%;
    text-transform: uppercase;
    z-index: 0;
    font-optical-sizing: auto;
}

.testimonials-title1 strong {
    color: #ff0000;
    font-weight: 500;
}

.testimonials-title2 {
    font-size: 2.625rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #fff;
}

.testimonials-title2 sl-icon {
    margin-left: 10px;
    color: #fff;
    font-weight: 100;
}

.testimonials-subtitle {
    margin-top: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #a6a6a6;
    max-width: 720px;
}

.testimonial-container {
    margin-top: 5%;
    min-width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.testimonial-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(30%) brightness(0.97);
    z-index: -1;
}

sl-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    height: auto;
    max-height: 500px;
    padding: 20px;
    font-family: "Inter", sans-serif;
    z-index: 1;
}

sl-card::part(base) {
    background-color: #111111;
    color: #fff;
}

sl-carousel .card-footer {
    margin: 5% 5%;
    max-height: 80%;
}

sl-avatar {
    margin-top: 15px;
    margin-left: 30px;
}

sl-rating {
    margin-left: 30px;
}

.card-footer .details {
    display: flex;
    gap: 2.25rem;
    margin-top: 15px;
    font-size: 18px;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 00;
}

/* FAQs */
#faq {
    margin: 0 5%;
    margin-top: 60px;
    padding: 20px;
    border-radius: 5px;
}

.faq-header {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 120px 0 0 0;
    padding-top: 60px;
}

.faq .header-card {
    background-color: transparent;
    width: 720px;
    max-width: 720px;
    padding: 20px 0;
    padding-left: 6%;
    box-sizing: border-box;
    margin-top: 0;
    z-index: 0;
    position: relative;
    margin-top: 70px;
}

.faq-title1 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 8rem;
    font-weight: 800;
    color: #343434;
    margin-top: 30px;
    margin-left: 2.5%;
    text-transform: uppercase;
    z-index: 0;
    font-optical-sizing: auto;
}

.faq-title1 strong {
    color: #ff0000;
    font-weight: 500;
}

.faq-title2 {
    font-size: 2.625rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #fff;
}

.faq-title2 sl-icon {
    margin-left: 10px;
    color: #fff;
    font-weight: 100;
}

.faq .faq-description {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #a6a6a6;
    margin-top: 25px;
    margin-bottom: 5%;
    max-width: 720px;
}

.details-group-example {
    margin-top: 60px; 
}

.details-group-example sl-details:not(:last-of-type) {
    margin-bottom: var(--sl-spacing-2x-small);
}

sl-details {
    font-size: 1em;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #000;
}

sl-details p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #a6a6a6;
    margin: 0;
    margin-right: 10%;
}

sl-details::part(base) {
    background-color: #111111;
    color: #fff;
}

/* Contact Section Styles */
#contact {
    min-height: 50vh;
    max-width: 100vw;
    padding: 30px;
    overflow-x: hidden;
}

.contact-header {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 120px 0 0 0;
    padding-top: 60px;
}

.contact-header .header-card {
    background-color: transparent;
    width: 720px;
    max-width: 720px;
    padding: 20px 0;
    padding-left: 6%;
    box-sizing: border-box;
    margin-top: 0;
    z-index: 0;
    position: relative;
    margin-top: 70px;
}


.contact-title1 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 8rem;
    font-weight: 800;
    color: #343434;
    margin-top: 30px;
    margin-left: 2.5%;
    text-transform: uppercase;
    z-index: 0;
    font-optical-sizing: auto;
}

.contact-title1 strong {
    color: #ff0000;
    font-weight: 500;
}

.contact-title2 {
    font-size: 2.625rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #fff;
}

.contact-subtitle {
    margin-top: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #a6a6a6;
    max-width: 720px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 50vh;
    background: transparent;
    padding: 5% 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Left Side - Contact Info */
.contact-info {
    width: 33.3%;
    padding-right: 30px;
    border-right: 1.5px solid #bdbdbd;
    letter-spacing: 0.15rem;
    margin-left: 10px;
}

.contact-info h3 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    line-height: 36px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.contact-info p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 25px;
    color: #a6a6a6;
}

.contact-info a {
    font-family: "Inter", sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin-bottom: 15px;
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 30px;
    font-size: 24px;
    color: #a6a6a6;
    transition: color 0.25s ease-in-out;
}

.social-icons a:hover {
    color: #999;
}

/* Right Side - Form */
.contact-form {
    width: 66.6%;
    padding-left: 30px;

}

.contact-form h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 2.625rem;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.contact-form h2 span {
    font-family: "Space Grotesk", sans-serif;
    font-size: 2.625rem;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #ff0000;
}

.contact-form p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    color: #a6a6a6;
}

.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.form-group input {
    width: 50%;
    padding: 10px;
    border: 1px solid #a6a6a6;
    font-size: 14px;
    background-color: transparent;
    color: #fff;
}

select,
textarea {
    background-color: transparent;
    color: #fff;
}

.contact-form option {
    color: #a6a6a6;
    background-color: #0f0e0f;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    color: #a6a6a6;
}

select,
textarea,
.contact-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a6a6a6;
    font-size: 14px;
}

.contact-form select:hover {
    cursor: pointer;
}

textarea {
    resize: none;
}

.contact-form button {
    color: #fff;
    background-color: #ff0000;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    margin-top: 15px;
    cursor: pointer;
    border: 1px solid #000;
    padding: 12px 20px;
    transition: color 0.3s ease-in-out;
    max-width: 25%;
    float: right;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.contact-form button:hover {
    background: black;
    color: #fff;
    border: 1px solid #fff;
}

#form-success-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.1);
    /* subtle dark overlay */
    display: none;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999;
    padding-top: 80px;
}

.form-success-message {
    background: #bdbdbd;
    color: #000;
    border: 1px solid #999;
    border-radius: 8px;
    padding: 20px 30px;
    max-width: 500px;
    text-align: center;
    font-family: "Inter", sans-serif;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: slideDownFade 0.4s ease-out;
}

#close-alert {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background: #bdbdbd;
    color: #000;
    border: none;
    padding: 0;
    line-height: 1;
    appearance: none;
}

#close-alert:hover {
    scale: 1.1;
    transition: scale 0.2s ease-in-out;
}

@keyframes slideDownFade {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}




/* Footer Styles */
footer {
    background-color: #0f0e0f;
    color: white;
    padding: 20px 0;
    border-top: 1px solid #3a3a3a;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    margin: 0 5%;
    padding: 0 10px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    text-align: center;
    margin: 0 15px;
    margin-top: 25px;
}

.footer .logo-section {
    text-align: center;
}

.footer .logo {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto 5px;
}

.footer h4 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    margin: 12px 0;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer ul li a:hover {
    color: #ccc;
}

.footer p {
    font-family: "Inter", sans-serif;
    margin: 5px 0;
}

#footer-contact p {
    font-family: "Inter", sans-serif;
    margin-top: 10%;
    font-weight: 200;
}

.footer .social-icons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    margin: 8px 0;
}

.footer .social-icons a {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
    margin: 5px 0;
}

.footer .social-icons a:hover {
    color: #ccc;
}

.footer .footer-bottom {
    text-align: center;
    padding: 15px 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    border-top: 1px solid #3a3a3a;
}



/* Rise Animations */
[data-rise="true"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
/* Activated on page load */
[data-rise="true"].visible {
    opacity: 1;
    transform: translateY(0);
}

/* Slide Animations */
[slide-right="true"] {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

[slide-right="true"].visible {
    opacity: 1;
    transform: translateX(0);
}

[slide-left="true"] {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

[slide-left="true"].visible {
    opacity: 1;
    transform: translateX(0);
}






/* Media Queries - Tablet */

    /*----- Hero -----*/
    @media only screen and (max-width: 1024px) {
        .custom-cursor {
            opacity: 0;
        }
        .hero {
            flex-direction: column-reverse;
            justify-content: center;
            height: 88%;
            margin: 0 0;
            padding: 0;
        }
        .hero-content {
            width: 100%;
            max-width: 100%;
            height: 50%;
            justify-content: center;
            text-align: center;
            margin: 0;
            padding: 0;
            padding-bottom: 3rem;
        }
        .hero-content h1 {
            font-size: 6rem;
            font-optical-sizing: auto;
            line-height: auto;
            padding: 0;
        }
        .hero-content h2 {
            font-size: 6rem;
            margin-top: 0;
        }
        .hero-video-wrapper {
            width: 100%;
            max-width: 950px;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-self: center;
            overflow: hidden;
            margin-top: -15%;
            border: 0.5px solid #999;
        }
        
    }

    /*----- About -----*/

    @media only screen and (max-width: 1024px) {
        #about {
            margin-top: 0;
        }
        .about-container {
            margin-top: 60px;
            background-color: transparent;
        }
        .about-header {
            margin-top: 120px;
        }
        .about-header .header-card {
            margin-top: 40px;
        }
        .about-subtitle1 {
            font-size: 6rem;
            margin-top: 0;
        }
        .val .val-content {
            width: 100%;
        }
        .val .about-card {
            display: none;
        }
        .slider {
            background-color: transparent;
            padding: 2em 2em;
        }

        .slide-track {
            width: 100%;
            display: flex;
            gap: 3em;
            overflow: hidden;
        }

        .slide {
            width: 50px;
            height: 50px;
            animation: scroll 10s linear infinite;
            border: 0.5px solid #999;
        }
    }

    /*----- Services -----*/

    @media only screen and (max-width: 1024px) {
        .services-header {
            margin-top: 60px;
        }
        .services-header .header-card {
            margin-top: 60px;
        }
        .services-title1 {
            font-size: 6rem;
        }
        .service-container {
            margin-bottom: 60px;
        }
        .services-header .header-card.managed {
            padding: 0 20px;
        }

}









    /*----- Portfolio -----*/
    @media only screen and (max-width: 1024px) {
    .portfolio-header .header-card {
        margin-top: 60px;
    }
    .portfolio-title1 {
        font-size: 6rem;
    }
    .bento-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .grid-item {
        width: 100%;
        height: auto;
    }
    .overlay-text h3 {
        font-size: 2.5rem;
    }
    .overlay-text p {
        font-size: 1.25rem;
    }
    .overlay-text li {
        font-size: 1rem;
    }
}

    /*----- Testimonials -----*/
    @media only screen and (max-width: 1024px) {
    .testimonials-header {
        margin-top: 15%;
    }
    .testimonials-title1 {
        font-size: 6rem;
    }
    .testimonials-subtitle  {
        margin-left: 2.5%;
    }
    .testimonials .header-card {
        margin-top: 40px;
    }
}





    /* FAQs */
    @media only screen and (max-width: 1024px) {
        #faq {
            margin-top: 5%;
        }
        .details-group-example {
            margin-top: 10%;
        }
        .faq-title1 {
            font-size: 6rem;
        }
        .faq .header-card {
            margin-top: 40px;
        }
        .faq-title2 {
            margin-left: 0;
        }
        .faq .faq-description {
            margin-left: 0;
        }
    }







    /* Contact */
    @media only screen and (max-width: 1024px) {
    .contact-container {
        flex-direction: column;
    }
    .contact-header {
        margin-top: 15vh;
    }
    .contact-title1 {
        font-size: 6rem;
    }
    .contact-header .header-card {
        margin-top: 40px;
    }
    .contact-title2 {
        margin-left: 0;
    }
    .contact-subtitle {
        margin-left: 0;
    }
    .contact-info, .contact-form {
        width: 100%;
        border: none;
        padding: 0;
    }
    .contact-title {
        margin-top: 20%;
    }
    .contact-info {
        border-bottom: 1px solid #bdbdbd;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 15px;
        padding: 0;
        margin-left: 0;
    }
    .contact-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 50%;
    }
    #mapLink, #emailText, #contactSocials {
        display: none;
    }
    .contact-item .social-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    .contact-form {
        margin-top: 20px;
    }
    .contact-form h2 {
        margin: 5% 0;
        font-size: 32px;
        text-align: center;
    }
    .contact-form h2 span {
    font-size: 32px;
}
}

/* Footer */
@media only screen and (max-width: 1024px) {

}










@media (max-width: 480px) {

    /*--- Misc Styles ---*/
    .menu-toggle {
        color: #fff;
        top: 10px;
        right: 20px;
        padding: 10px;
        font-size: 24px;
    }
    .menu-links li {
        font-size: 20px;
    }
    html,
    body {
        overflow-x: hidden;
        max-width: 100%;
    }
    .services-title2 sl-icon,
    .portfolio-title2 sl-icon,
    .testimonials-title2 sl-icon,
    .contact-title2 sl-icon {
        display: none;
    }

    /*--- Hero ---*/
    #hero {
        height: 95vh;
    }
    .hero {
        max-width: 100%;
        height: 95vh;
        max-height: 95vh;
        margin: 15px auto;
        overflow: hidden;
        flex-direction: column;
    }
    .hero-content {
        padding: 0 10px;
        margin-top: -10%;
    }




    .hero-content h1 {
        font-size: 3.75rem;
    }
    .hero-content h2 {
        font-size: 4rem;
        margin-top: 0;
    }
    .hero-video-wrapper {
        margin-top: -30%;
        max-width: 375px;
    }
    .video-overlay {
        width: 100px;
        height: 100px;
        font-size: 18px;
    }







    /* About */
    #about {
        margin-top: 80px;
        padding: 20px;
    }
    .about-container {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 30px;
        padding: 0;
        height: 100%;
        margin-top: 30px;
        padding-bottom: 30px;
        background-color: transparent;
    }
    .about-right {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .about-left {
        width: 100%;
        padding: 0;
    }
    .about-btn a {
        font-size: 0.75rem;
        font-weight: 500;
    }
    .scroll-container {
    margin-top: 60px;
    }

    .about-header {
        margin-top: 60px;
    }
    .about-subtitle1 {
        font-size: 3rem;
        margin-left: 2.5%;
        top: 45px;
    }
    .about-header .header-card {
        max-width: 100%;
        margin-top: 45px;

    }
    .vals {
        margin: 0;
        margin-top: 60px;
    }
    .val {
        padding: 25px;
    }
    .val-content {
        margin: 0;
    }

    #value3 {
        margin-top: 12px;
    }





    /*--- Services Styles ---*/
    #services-section .header-card {
        max-width: 100%;
        margin-top: 60px;
        padding-left: 6%;
        padding-right: 5%;
    }
    .services-header {
        padding-top: 0;
    }
    .services-title1 {
        font-size: 3rem;
    }
    .service-container {
        margin-top: 60px;
    }
    .service-container.managed {
        margin-top: 60px;
    }
    #services-section .header-card.managed {
        margin-top: 0;
    }





    /* Portfolio */
    #portfolio {
        margin: 60px 0;
    }
    .portfolio-header {
        margin-top: 120px;
    }
    #portfolio .header-card {
        max-width: 100%;
        margin-top: 35px;
        padding-left: 6%;
        padding-right: 5%;
    }
    .portfolio-title1 {
        font-size: 3rem;
    }
    .bento-section {
        margin: 0;
    }
    .bento-grid {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
    }
    .grid-item {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
        width: 100% !important;
    }
    .overlay-text h3 {
        font-size: 1.5rem;
    }
    .overlay-text p {
        font-size: 0.75rem;
    }
    .overlay-text li {
        font-size: 0.5rem;
    }
    .projects-btn a {
        font-size: 0.75rem;
        font-weight: 500;
    }
    .img4 .overlay-text {
        margin-left: 2%;
        margin-bottom: 2%;
    }






    /*--- Testimonial Styles ---*/
    #testimonials {
        margin-top: 160px;
        min-height: 70%;
    }
    .testimonials-header {
        margin-top: 60px;
    }
    #testimonials .header-card {
        max-width: 100%;
        margin-top: 5px;
        padding-left: 6%;
        padding-right: 5%;
    }
    .testimonials-title1 {
        font-size: 3rem;
    }
    .testimonial-container {
        height: 500px;
        max-height: 600px;
        margin-top: 15%;
    }
    sl-carousel {
        padding: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
    }
    sl-card {
        min-width: 100%;
        height: auto;
        max-height: 100%;
        font-size: 14px;
        padding: 0;
        margin-left: 15px;
        margin-right: 15px;
    }
    sl-card.card-body {
        padding: none;
    }
    sl-card.card-footer {
        margin: 0;
        padding: 5px;
    }
    sl-avatar {
        margin-top: 15px;
        margin-left: 0;
    }
    sl-card .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }
    sl-card .details span {
        display: none;
    }
    sl-card .details p {
        margin-top: 0;
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    sl-rating {
        font-size: 1rem;
        margin-left: 0;
    }
    span .rating-symbols {
        font-size: 1rem;
    }




    /*--- FAQ Styles ===*/
    #faq {
        padding: 0;
    }
    #faq sl-details p {
        margin: 0 10px;
    }
    .faq-title1 {
        margin-top: 35px;
        font-size: 2.85rem;
    }
    .faq-header {
        margin-top: 60px;
    }
    #faq .header-card {
        max-width: 100%;
        margin-top: 10px;
    }






    /*--- Contact Styles ---*/
    #contact {
        padding: 0;
    }
    .contact-header {
        padding-top: 50px;
    }
    .contact .header-card {
        max-width: 100%;
        margin-top: 5px;
        padding-left: 6%;
        padding-right: 5%;
    }
    .contact-title1 {
        font-size: 2.25rem;
    }
    .contact-title2 {
        font-size: 2.4rem;
    }
    .contact-subtitle {
        margin-bottom: 30px;
    }
    .contact-container {
        padding: 5px;
        margin-top: 10%;
    }
    .contact-info {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px;
    }
    .contact-form {
        padding: 10px;
    }
    .contact-form button {
        font-size: 0.75rem;
        font-weight: 500;
    }
    #close-alert {
    bottom: 5px;
    right: 10px;
}




    /* Footer */
    .footer-container {
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }
    .footer-section {
        margin-bottom: 0;
    }
    .footer-section h4 {
        margin-top: 20px;
        font-size: 22px;
        text-decoration: underline;
    }
    .footer-section .social-icons {
        flex-direction: row;
        gap: 25px;
        margin-bottom: 10px;
    }
    .footer-bottom p {
        margin: 0 15px;
        margin-top: 10px;
    }
}