@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300&display=swap');


/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: E5E5E5;
    overflow-x: hidden;
    letter-spacing: 0.15rem;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 950;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  margin: 0;
  min-height: 15vh;
  max-height: 15vh;
  padding: 0 8%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-in-out;
}

.logo img {
    width: 200px;
    height: auto;
    max-width: 200px;
    object-fit: contain;
    margin-left: 5%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    position: relative;
    font-family: "Geist", sans-serif;
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    transition: color 0.25s ease-in-out;
    padding: 0;
}

.nav-links .nav-contact {
    padding: 10px 15px;
    font-family: "Geist", sans-serif;
    color: #fff;
    background-color: #000;
    font-size: 14px;
}

.nav-links .nav-contact:hover {
    color: #333;
    background-color: transparent;
    border: 1.25px solid #000;
}

/* Hover Effect */
.nav-links a:hover {
    color: #bdbdbd;
}

.nav-links a.active {
    color: #bdbdbd;
    position: relative;
}

/* Dropdown Menu Styles */
.nav-links .dropdown {
    position: relative;
}

.nav-links .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    list-style: none;
    padding: 10px 0;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.nav-links .dropdown:hover .dropdown-menu {
    display: block;
}

.nav-links .dropdown-menu li {
    padding: 0 10px;
    padding-top: 10px;
}

.nav-links .dropdown-menu li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-links .dropdown-menu li a:hover {
    color: #999;
}

/* Underline and Overline for Active Link */
.nav-links a.active::before,
.nav-links a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
    transition: opacity 0.3s ease-in-out;
}

.nav-links a.active::before {
    top: -3px; /* Overline */
}

.nav-links a.active::after {
    bottom: -3px; /* Underline */
}

/* Mobile Navbar */
.menu-toggle,
.mobile-menu {
    display: none;
    /* Hide by default */
}

@media (max-width: 1024px) {

    /* Show on tablet and mobile */
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100vw;
        max-height: 10vh;
        background-color: #fff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.25s ease-in-out;
    }

    .nav-links {
        display: none;
    }

    .menu-toggle,
    .mobile-menu {
        display: block;
    }

    .menu-toggle {
        position: fixed;
        top: 50px;
        right: 50px;
        font-size: 30px;
        padding: 25px;
        color: #000;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1100;
    }
    .menu-toggle:hover {
        transform: scale(1.2);
        Transition: transform 0.3s ease-in-out;
    }
    #openIcon {
        color: #000;
    }
    #closeIcon {
        color: #ffffff;
        z-index: 1001;
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100%;
        background: #2c2c2c;
        transition: right 0.5s ease;
        z-index: 1000;
        padding: 50px;
        box-sizing: border-box;
    }
    .menu-header {
        margin-top: 45px;
    }

    .menu-header p, .menu-footer p {
        margin: 0;
        margin: 5% 0;
        font-size: 16px;
        font-family: "Geist", sans-serif;
        letter-spacing: 2px;
        color: #fff;
        text-transform: uppercase;
    }
    .menu-links {
        list-style: none;
        padding: 0;
        margin: 20px 5%;
    }
    .menu-links li {
        margin: 20px 0;
        font-size: 28px;
        font-family: "Geist", sans-serif;
        font-weight: 200;
        text-transform: uppercase;
    }
        .menu-links li.active::before {
            content: '• ';
            color: #fff;
        }
    
        .social-links {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            font-family: "Geist", sans-serif;
            font-weight: 200;
            text-transform: uppercase;
        }

        .social-links span {
            color: #fff;
            padding: 0 5px;
        }
    
        a {
            color: #fff;
            text-decoration: none;
            transition: color 0.2s;
        }
    
        a:hover {
            color: #bdbdbd;
        }
    
        hr {
            border: none;
            height: 1px;
            background: #fff;
            margin: 10px 0;
        }
    
        .menu-logo {
            display: block;
            max-width: 500px;
            height: auto;
            max-height: 500px;
            float: left;
        }
        .menu-logo img {
            width: 100%;
            height: auto;
            object-fit: cover center !important;
        }
    
        .logo img {
            width: 100%;
            height: auto;
            object-fit: cover center !important;
        }

/* Mobile Dropdown Styles */
.mobile-menu .dropdown-menu {
    display: none;
    flex-direction: column;
    list-style: none;
    padding-left: 25px;
    gap: 10px;
}

.mobile-menu .dropdown.open .dropdown-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 40px;
    padding-top: 10px;
}

.mobile-menu .dropdown.open .dropdown-menu li {
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

.mobile-menu .dropdown-toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    cursor: pointer;
}
}

.hidden {
    display: none !important;
}
    
        @media only screen and (max-width: 480px) {
            body {
                overflow-x: hidden;
            }
    
            .header {
                max-width: 100vw;
            }
    
            .navbar {
                padding: 0% 16px;
            }
    
            .menu-toggle {
                top: 15px;
                right: 16px;
                font-size: 24px;
                padding: 10px;
            }
            .mobile-menu {
                width: 100%;
            }
            .menu-logo {
                display: block;
                max-width: 350px;
                height: auto;
                max-height: 350px;
                float: left;
            }
            .menu-logo img {
                width: 100%;
                height: auto;
                object-fit: cover center !important;
            }
            .logo {
                margin-left: 5%;
            }
        }


/* Hero Section Styles */
#hero {
    width: 100%;
    height: 100vh;
}
#hero h1 {
    margin: 10% 5%;
    padding-top: 30px;
    font-size: 2.75rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}
#hero .container-fluid {
    width: 100%;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#hero .container-fluid .hero-row {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
}

#hero .container-fluid .hero-row .hero-image {
    max-width: 660px;
    max-height: 580px;
}

#hero .container-fluid .hero-row .hero-image img {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 500px;
}

#hero .container-fluid .hero-row .hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 33%;
}

.hero-text h2 {
    font-size: 2.625rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #000;
}

.hero-text p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #000;
}


.hero-btn {
    display: block;
    float: center;
    background-color: none;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.hero-btn a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 1.25px solid #000;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.25s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.hero-btn a:hover {
    background-color: #000;
    border: 1.25px solid #fff;
    color: #fff;
}

#why-us {
    width: 100%;
    margin-top: 10%;
}

#why-us .container-fluid {
    width: 100%;
    padding: 0 10%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.why-us-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5%;
}

.why-us-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
}

.why-us-text h2 {
    font-size: 2.625rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #000;
}

.why-us-text p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #000;
}

.why-us-image {
    max-width: 50%;
    max-height: 600px;
}

.why-us-image img {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 500px;
}

.why-us-btn {
    display: block;
    float: center;
    background-color: none;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.why-us-btn a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 1.25px solid #000;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.25s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.why-us-btn a:hover {
    background-color: #000;
    border: 1.25px solid #fff;
    color: #fff;
}

#design-details {
    width: 100%;
    max-height: 60vh;
    margin-top: 5%;
}

#design-details .container-fluid {
    width: 100%;
    padding: 0 5%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.design-details-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5%;
}

.design-image {
    max-width: 50%;
    max-height: 600px;
}

.design-image img {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 500px;
}

.design-details-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
}

.design-details-text h2 {
    font-size: 2.625rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #000;
}

.design-details-text p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #000;
}

.design-details-text ul {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #000;
    list-style: circle;
    padding-left: 20px;
}

/* Design Process Section Styles */
#design-process {
    width: 100%;
    margin-top: 10%;
}

.process-header {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 60px 0 60px 0;
    padding: 0;
}

.process-header .header-card {
    background-color: #EDEDED;
    width: 720px;
    max-width: 720px;
    padding: 15px 5%;
    box-sizing: border-box;
    margin-top: 0;
    z-index: 0;
    position: relative;
}

.process-title1 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #999;
    margin-left: 5%;
}

.process-title2 {
    font-size: 2.625rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #000;
}

#design-process .process-description {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #000;
    margin-top: 25px;
    margin-bottom: 5%;
    max-width: 720px;
}

.banner-area {
    margin: 0 8%;
}

.banner-background {
    display: flex;
    align-self: center;
    margin-top: 10%;
    width: 100%;
    min-height: 425px;
    max-height: 50vh;
    background-color: #EDEDED;
    z-index: 0;
}

.text-card-wrapper {
    display: flex;
    align-self: center;
    margin: -350px 10% 0 10%;
    z-index: 1;
}

.text-card {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 100%;
    height: auto;
    max-height: 100%;
    padding: 15px;
    padding-top: 30px;
    overflow: hidden;
    z-index: 1;
    background-color: #fff;
}

.process-step {
    margin-bottom: 40px;
    position: relative;
    padding-left: 40px;
}

.step-number {
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 11rem;
    font-weight: 600;
    color: #EDEDED;
    line-height: 1;
    z-index: 0;
    transform: translateX(-65px) translateY(-35px);
}

.step-title {
    font-size: 24px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.step-text {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #000;
    line-height: 1.6;
    position: relative;
    z-index: 1;
    margin: 0 20px;
}

.step-text2 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #000;
    position: relative;
    z-index: 1;
    margin: 0 20px;
    margin-top: 20px;
}

.process-step ul {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    list-style: circle;
    padding-left: 20px;
    margin: 0 20px;
    margin-top: 10px;
}

/*--- FAQ Section Styles ---*/
/* FAQs */
#faq {
    margin: 0 5%;
    margin-top: 60px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.faq-header {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 60px 0 60px 0;
    padding: 0;
}

.header-card {
    background-color: #EDEDED;
    width: 720px;
    max-width: 720px;
    padding: 15px 5%;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}

.faq-title1 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #999;
    margin-top: 60px;
    margin-left: 5%;
}

.faq-title2 {
    font-size: 2.625rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #000;
}

.faq .faq-description {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #000;
    margin-top: 25px;
    margin-bottom: 5%;
    max-width: 720px;
}
.details-group-example {
    margin-top: 60px; 
}

.details-group-example sl-details:not(:last-of-type) {
    margin-bottom: var(--sl-spacing-2x-small);
}

sl-details {
    font-size: 1em;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #000;
}

sl-details p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #000000;
    margin: 0;
    margin-right: 10%;
}


/*--- Contact Section Styles ---*/
#contact {
    margin: 0 5%;
    margin-top: 60px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}
.contact-header {
    text-align: center;
    margin-top: 30px;
    margin: 0 20%;
}
.contact-title {
    font-size: 2.625rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 200;
    color: #000;
}
.contact-text {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    padding-top: 30px;
    margin: 0 10%;
}

.contact-form {
    width: 100%;
    margin: 5% 0;
    padding: 0 15%;
}

.form-group {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.form-group input {
    width: 50%;
    padding: 10px;
    border: 1px solid #000;
    font-size: 14px;
    background-color: transparent;
    color: #000;
}

textarea {
    background-color: transparent;
    color: #000;
}


input::placeholder,
textarea::placeholder {
    color: #000;
}


textarea,
.contact-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    font-size: 14px;
}

.contact-form select:hover {
    cursor: pointer;
}

textarea {
    resize: none;
}

.contact-form button {
    color: #000;
    background: transparent;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    margin-top: 15px;
    cursor: pointer;
    border: 1px solid #000;
    padding: 12px 20px;
    transition: color 0.25s ease-in-out;
    max-width: 25%;
    float: right;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.contact-form button:hover {
    background: black;
    color: #fff;
    border: 1px solid #000;
}





































/* Footer Styles */
footer {
    background-color: #2c2c2c;
    color: white;
    padding: 20px 0;
    border-top: 1px solid #3a3a3a;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    margin: 0 5%;
    padding: 0 10px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    text-align: center;
    margin: 0 15px;
    margin-top: 25px;
}

.footer .logo-section {
    text-align: center;
}

.footer .logo {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto 5px;
}

.footer h4 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    margin: 12px 0;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer ul li a:hover {
    color: #ccc;
}

.footer p {
    font-family: "Inter", sans-serif;
    margin: 5px 0;
}

#footer-contact p {
    font-family: "Inter", sans-serif;
    margin-top: 10%;
    font-weight: 200;
}

.footer .social-icons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    margin: 8px 0;
}

.footer .social-icons a {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
    margin: 5px 0;
}

.footer .social-icons a:hover {
    color: #ccc;
}

.footer .footer-bottom {
    text-align: center;
    padding: 15px 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    border-top: 1px solid #3a3a3a;
}


/* Rise Animations */
[data-rise="true"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
/* Activated on page load */
[data-rise="true"].visible {
    opacity: 1;
    transform: translateY(0);
}

/* Slide Animations */
[slide-right="true"] {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

[slide-right="true"].visible {
    opacity: 1;
    transform: translateX(0);
}

[slide-left="true"] {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

[slide-left="true"].visible {
    opacity: 1;
    transform: translateX(0);
}



/* Tablet Styles */
@media only screen and (max-width: 1024px) {
    /* Hero Section Styles */
#hero {
    max-height: 750px;
}
#hero h1 {
    margin: 0 5%;
    margin-top: 25%;
    max-width: 60%;
    margin-bottom: 5%;
}
.hero-row {
    margin-top: 40px;
}

.why-us-text {
    max-width: 50%;
}

#design-details {
    max-height: 50vh;
}

.design-details-text {
    max-width: 50%;
}

.banner-background {
    height: 33vh;
}
.banner-area {
    margin: 0 5%;
}

.text-card-wrapper {
    margin: -375px 5% 0 5%;
}

/*--- Contact Section Styles ---*/
#contact {
    margin: 0 5%;
    margin-top: 60px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}
.contact-header {
    text-align: center;
    margin-top: 30px;
    margin: 0 15%;
}
.contact-title {
    font-size: 2.625rem;
}
.contact-text {
    padding-top: 30px;
    margin: 0 5%;
}
.contact-form {
    width: 100%;
    margin: 7% 0;
    padding-bottom: 30px;
    padding: 0 10%;
}
.contact-form button {
    margin-bottom: 20px;
}

}


/* Mobile Styles */
@media (max-width: 480px) {
    /*Misc Styles*/
    .menu-toggle {
            top: 20px;
            right: 20px;
            padding: 10px;
            font-size: 24px;
        }
        .menu-links li {
            font-size: 20px;
        }
    /*--- Hero Styles ---*/
    #hero {
        max-height: 100vh;
    }
    #hero .top-banner {
        margin-top: 10%;
    }
    #hero h1 {
        margin: 15% 0;
        padding-top: 40%;
        font-size: 1.85rem;
        max-width: 100%;
        margin-bottom: 5%;
    }
    #hero h2 {
        font-size: 1.75rem;
    }
    #hero .container-fluid .hero-row {
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
        margin-top: 0;
    }
    #hero .container-fluid .hero-row .hero-text {
        max-width: 100%;
        gap: 20px;
    }

    /*--- Why Us Styles ---*/
    #why-us {
        padding-top: 40px;
        margin-top: 10%;
    }
    #why-us .container-fluid {
        padding: 0 15px;
    }
    #why-us .container-fluid .why-us-row {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    #why-us .why-us-text{
        max-width: 100%;
    }
    .why-us-text h2 {
        font-size: 1.75rem;
    }
    .why-us a {
        color: #000;
    }
    .why-us-image {
        max-width: 100%;
    }
    
    /*--- Design Details Styles ---*/
    #design-details {
        padding-top: 30px;
    }
    #design-details .container-fluid {
        padding: 0 15px;
    }

    #design-details .design-image {
        display: none;
    }
    #design-details h2 {
        font-size: 1.75rem;
    }
    .design-details-text {
        max-width: 100%;
    }

    /*---Design Process Styles---*/
    #design-process {
        padding-top: 30px;
    }
    .process-header .header-card {
        max-width: 100%;
    }
    .header-card {
        max-width: 100%;
    }
    .banner-area {
        margin: 0;
    }
    .banner-background {
        height: 45vh;
    }
    .text-card-wrapper {
        max-width: 100%;
        margin: -350px 20px 0 20px;
    }
    .step-title {
        margin: 0;
    }
    
    .step-text {
        margin: 0;
        margin-top: 10px;
    }
    .step-text2 {
        margin-left: 0;
        font-weight: 500;
    }
    .process-step ul {
        margin: 0;
        margin-top: 10px;
    }

    /*--- Contact Section Styles ---*/
#contact {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 5px;
}

.contact-header {
    margin: 0;
}

.contact-title {
    font-size: 1.75rem;
}

.contact-text {
    padding-top: 20px;
    margin: 0;
}
.contact-form {
    margin: 10% 0;
    padding: 0 10px;
}
.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}


    /*--- Footer Styles ---*/
    .footer-container {
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }
    
    .footer-section {
        margin-bottom: 0;
    }
    
    .footer-section h4 {
        margin-top: 20px;
        font-size: 22px;
        text-decoration: underline;
    }
    
    .footer-section .social-icons {
        flex-direction: row;
        gap: 25px;
        margin-bottom: 10px;
    }
    
    .footer-bottom p {
        margin: 0 15px;
        margin-top: 10px;
    }

    }