@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    max-width: 100vw;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    background-color: E5E5E5;
    max-width: 100vw;
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it's above all other content */
    font-size: 24px;
    transition: transform 0.5s ease-in-out;
}

#progressBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: white;
    width: 0%;
}

.loader {
    width: fit-content;
    font-weight: bold;
    white-space: pre;
    font-size: 6.5em;
    overflow: hidden;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
}

.loader::after {
    display: inline-block;
    animation: addDots 3s steps(4, end) infinite;
    content: '';
}

@keyframes addDots {
    25% {
        content: '.';
    }

    50% {
        content: '..';
    }

    75% {
        content: '...';
    }

    100% {
        content: '...';
    }
}


/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 950;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin: 0;
    min-height: 10vh;
    padding: 0 10%;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.logo img {
    width: 200px;
    height: auto;
    max-width: 200px;
    object-fit: contain;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    position: relative;
    font-family: "Roboto", serif;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: color 0.25s ease-in-out;
    padding: 0;
}

/* Hover Effect */
.nav-links a:hover {
    color: #bdbdbd;
}

.nav-links a.active {
    color: #bdbdbd;
    position: relative;
}

/* Underline and Overline for Active Link */
.nav-links a.active::before,
.nav-links a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
    transition: opacity 0.3s ease-in-out;
}

.nav-links a.active::before {
    top: -3px;
    /* Overline */
}

.nav-links a.active::after {
    bottom: -3px;
    /* Underline */
}

/* Mobile Navbar */
.menu-toggle,
.mobile-menu {
    display: none;
    /* Hide by default */
}

@media (max-width: 1024px) {

    /* Show on tablet and mobile */
    .line {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .menu-toggle,
    .mobile-menu {
        display: block;
    }

    .menu-toggle {
        position: fixed;
        top: 10px;
        right: 30px;
        font-size: 25px;
        padding: 25px;
        color: #000;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1100;
    }

    .menu-toggle:hover {
        transform: scale(1.2);
        Transition: transform 0.3s ease-in-out;
    }

    #openIcon {
        color: #000;
    }

    #closeIcon {
        color: #ffffff;
        z-index: 1001;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100%;
        background: #2c2c2c;
        transition: right 0.5s ease;
        z-index: 1000;
        padding: 50px;
        box-sizing: border-box;
    }

    .menu-header p,
    .menu-footer p {
        margin: 0;
        font-size: 16px;
        font-family: "Roboto", serif;
        letter-spacing: 2px;
        color: #fff;
        text-transform: uppercase;
    }

    .menu-footer {
        margin: 5% 5%;
    }

    .menu-links {
        list-style: none;
        padding: 0;
        margin: 20px 0;
    }

    .menu-links li {
        margin: 20px 0;
        font-size: 32px;
        font-family: "Roboto", serif;
        font-weight: 200;
        text-transform: uppercase;
    }

    .menu-links li.active::before {
        content: '• ';
        color: #fff;
    }

    .social-links {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-family: "Roboto", serif;
        font-weight: 200;
        text-transform: uppercase;
    }

    a {
        color: #fff;
        text-decoration: none;
        transition: color 0.2s;
    }

    a:hover {
        color: #bdbdbd;
    }

    hr {
        border: none;
        height: 1px;
        background: #fff;
        margin: 10px 0;
    }

    .menu-logo {
        display: block;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .logo img {
        width: 200px;
        height: auto;
        max-width: 200px;
        object-fit: contain;
    }

}

.hidden {
    display: none !important;
}

@media only screen and (max-width: 480px) {
    .header {
        max-width: 100vw;
    }
}



.services-header {
    margin: 0 5%;
    margin-top: 5%;
}

.services-title {
    font-size: 64px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    line-height: 64px;
    letter-spacing: 0.15rem;
    color: #bdbdbd;
    margin-top: 10%;
}

.services-subtitle {
    font-size: 24px;
    font-family: "Roboto", serif;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.15rem;
    color: #000000;
    margin-top: 25px;
}


sl-tab-group {
    display: flex;
    justify-content: center;
    margin: 5% 5%;
    margin-bottom: 5%;
    letter-spacing: 0.15rem;
    --indicator-color: #333;
    --track-color: #bdbdbd;

}

sl-tab {
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.15rem;
    margin-right: 15%;
    width: 100%;
    transition: color 0.3s ease;
}

sl-tab tab-nav {
    color: #bdbdbd;
    font-size: 24px;
    font-family: "Roboto", serif;
}

sl-tab-panel {
    padding: 15px;
    letter-spacing: 0.15rem;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.service-title {
    font-family: "Roboto", serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.15rem;
    color: #bdbdbd;
}

.service-subtitle {
    font-family: "Roboto", serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.15rem;
    color: #000000;
    margin-top: 25px;
}

.service-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 35px;
    list-style: none;
}

.service-list .item {
    display: flex;
    gap: 40px;
    margin-left: 25px;
    font-family: "Roboto", serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.15rem;
    color: #000000;
}

.service-description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 3%;
}

.service-discription p {
    font-family: "Roboto", serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    max-width: 50%;
    letter-spacing: 0.15rem;
    color: #000000;
    margin-top: 15px;
}

sl-button.learn-more-btn::part(base) {
    background-color: transparent;
    color: #333;
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 25px;

}

sl-button.learn-more-btn::part(base):hover {
    background-color: #333;
    color: #fff;
}




/* Footer Styles */
footer {
    background-color: #2c2c2c;
    color: white;
    padding: 40px 0;
    font-family: "Roboto", serif;
    letter-spacing: 0.15rem;
    border-top: 1px solid #3a3a3a;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    margin: 0 5%;
    padding: 0 10px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    text-align: center;
    margin: 0 15px;
    margin-top: 25px;
}

.footer .logo-section {
    text-align: center;
}

.footer .logo {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto 10px;
}

.footer h4 {
    font-family: "Roboto", serif;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    font-family: "Roboto", serif;
    margin: 12px 0;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 16px;
    letter-spacing: 0.15rem;
}

.footer ul li a:hover {
    color: #ccc;
}

.footer p {
    font-family: "Roboto", serif;
    margin: 5px 0;
}

#footer-contact p {
    font-family: "Roboto", serif;
    margin-top: 10%;
}

.footer .social-icons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    margin: 8px 0;
}

.footer .social-icons a {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
    margin: 5px 0;
}

.footer .social-icons a:hover {
    color: #ccc;
}

.footer .footer-bottom {
    text-align: center;
    padding: 15px 0;
    font-family: "Roboto", serif;
    font-size: 14px;
    line-height: 18px;
    border-top: 1px solid #3a3a3a;
}




/* Rise Animations */
[data-rise="true"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
/* Activated on page load */
[data-rise="true"].visible {
    opacity: 1;
    transform: translateY(0);
}

/* Scroll to top styles */
#scrollToTop {
    position: fixed;
    /* Keeps it in the bottom-right */
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    /* Initially hidden */
    visibility: hidden;
    z-index: 1000;
}


/* Show when scrolling down */
#scrollToTop.show {
    display: block;
    opacity: 1 !important;
    visibility: visible !important;
}

/* Hover Effect */
#scrollToTop:hover {
    background-color: grey;
}